.header {
    position: sticky;
    top: -35px;
    z-index: 10;
    &.mini {
        .bottom-sp {
            background: rgba(255, 255, 255, 0.97);
            box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
            .left {
                width: 40%;
            }
            .right {
                width: 60%;
                .cart {
                    height: 30px;
                    padding: 2px 6px;
                }
                .burger {
                    width: 40px;
                    height: 40px;
                    font-size: 27px;
                    margin-left: 10px;
                    i {
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .top {
        height: 35px;
        background: #f9f9f9;
        border-bottom: 1px solid #ccc;
        .left {
            ul {
                margin-top: 5px;
                li {
                    padding: 0 3px;
                    border-left: 1px solid rgba(0, 0, 0, 0.05);
                }
            }
            a {
                @include flexCenter();
                width: 25px;
                height: 25px;
                color: #777777;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                font-size: 15px;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                &:hover {
                    color: #ffffff;
                    background-color: #e25440;
                    text-decoration: none;
                }
            }
            .tel {
                a {
                    width: auto;
                    font-size: 13px;
                    &:hover {
                        color: #777777;
                        background: none;
                    }
                }
            }
        }
        .right {
            form {
                position: relative;
                input {
                    border: none;
                    width: 0;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    &.toggle {
                        width: 150px;
                        height: 25px;
                        padding: 0 5px;
                        position: absolute;
                        top: 5px;
                        right: 20px;
                    }
                }
                .btn-search {
                    border: none;
                    background: none;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    color: #777777;
                    cursor: pointer;
                    &:hover {
                        color: #e25440;
                    }
                }
            }
        }
    }
    .bottom-sp {
        background: rgba(255, 255, 255, 0.8);
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        .left {
            width: 50%;
            margin-bottom: 0;
            line-height: initial;
        }
        .right {
            width: 50%;
            padding: 5px 0;
            .cart {
                display: inline-block;
                height: 33px;
                text-decoration: none;
                padding: 3px 10px;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                border: 1px solid #efefef;
                background: rgba(250, 250, 250, 0.5);
                i {
                    font-size: 18px;
                    color: #383a47;
                }
                span {
                    color: #e25440;
                    padding-left: 5px;
                }
            }
            .burger {
                width: 50px;
                height: 50px;
                text-align: center;
                font-size: 30px;
                color: #e25440;
                margin-left: 15px;
                background: #f9f9f9;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                &:hover {
                    background-color: #e25440;
                    color: #f9f9f9;
                }
                i {
                    line-height: 50px;
                }
            }
        }
    }
    .menu {
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        opacity: 0;
        &.toggle {
            left: 0;
            opacity: 1;
        }
        .close {
            position: absolute;
            top: 0;
            left: 260px;
            width: 45px;
            height: 45px;
            text-align: center;
            background-color: #e25440;
            i {
                line-height: 45px;
                font-size: 22px;
                color: #ffffff;
            }
        }
        ul {
            width: 260px;
            height: 100vh;
            background: #383a47;
            li {
                a {
                    padding: 7px 15px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                    display: block;
                    transition: .3s all ease;
                    -webkit-transition: .3s all ease;
                    -moz-transition: .3s all ease;
                    -ms-transition: .3s all ease;
                    -o-transition: .3s all ease;
                    color: #ffffff;
                    font-size: 15px;
                }
                &:first-child a {
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                }
            }
        }
    }
}

// Responsive
@media (min-width: 640px) {}

@media (min-width: 960px) {
    .header {
        &.mini {
            .bottom-pc {
                height: 50px;
                background: rgba(255, 255, 255, 0.97);
                box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
                h1 {
                    width: 143px;
                }
            }
        }
        .top {
            padding: 5px 0;
            box-sizing: border-box;
            .left ul {
                margin-top: 0;
                li {
                    padding: 0 5px;
                }
            }
            .right {
                form {
                    input {
                        width: 188px;
                        padding: 0 10px;
                        border-radius: 2px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        -ms-border-radius: 2px;
                        -o-border-radius: 2px;
                        background: rgba(255, 255, 255, 0.5);
                        &.toggle {
                            width: 188px;
                            position: relative;
                            top: 0;
                            left: 0;
                            padding: 0 10px;
                        }
                    }
                    .btn-search {
                        font-size: 15px;
                        padding: 0 10px;
                    }
                }
                .btn-register {
                    font-size: 13px;
                    border-left: 1px solid #ddd;
                    color: #777777;
                    line-height: 25px;
                    margin-left: 5px;
                    padding-left: 5px;
                    &:hover {
                        color: #e25440;
                        text-decoration: none;
                    }
                    i {
                        margin-right: 5px;
                        color: #e25440;
                    }
                }
                .btn-login {
                    @extend .btn-register;
                    border-left: none;
                }
            }
        }
        .bottom-pc {
            height: 90px;
            background: rgba(255, 255, 255, 0.8);
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            padding: 5px 0;
            h1 {
                width: 285px;
                margin-bottom: 0;
            }
            .nav {
                ul a {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 15px;
                    text-transform: uppercase;
                    padding: 0px 15px;
                    text-decoration: none;
                    line-height: 40px;
                    color: #383a47;
                    font-weight: 400;
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    &.active {
                        color: #e25440;
                    }
                    &:hover {
                        color: #e25440;
                    }
                }
                .cart {
                    height: 33px;
                    line-height: 33px;
                    padding: 0 10px;
                    border-radius: 2px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -o-border-radius: 2px;
                    border: 1px solid #efefef;
                    background: rgba(250, 250, 250, 0.5);
                    text-decoration: none;
                    &:hover i {
                        color: #e25440;
                    }
                    i {
                        font-size: 18px;
                        color: #383a47;
                    }
                    .number {
                        color: #e25440;
                        padding-left: 5px;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1600px) {}