#index {
    .banner {
        margin-top: -60px;
        .slick-prev {
            height: 40px;
            width: 40px;
            background: url('../../image/arrow-left-white.png') center no-repeat;
            background-size: 40px;
            left: 10px;
            opacity: 0.3;
            z-index: 1;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            &::before {
                content: none;
            }
            &:hover {
                opacity: 0.7;
            }
        }
        .slick-next {
            height: 40px;
            width: 40px;
            background: url('../../image/arrow-right-white.png') center no-repeat;
            background-size: 40px;
            right: 10px;
            opacity: 0.3;
            z-index: 1;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            &::before {
                content: none;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .service {
        padding: 40px 0;
        .wrapper-item {
            .item {
                margin-bottom: 40px;
                transition: .3s all ease;
                -webkit-transition: .3s all ease;
                -moz-transition: .3s all ease;
                -ms-transition: .3s all ease;
                -o-transition: .3s all ease;
                &:hover {
                    background: #f5f5f5;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    .content a {
                        color: #e25440;
                    }
                }
                .content {
                    text-align: center;
                    a {
                        display: block;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        color: #383A47;
                        text-decoration: none;
                        transition: .3s all ease;
                        margin-bottom: 10px;
                        -webkit-transition: .3s all ease;
                        -moz-transition: .3s all ease;
                        -ms-transition: .3s all ease;
                        -o-transition: .3s all ease;
                    }
                    p {
                        font-family: 'Open Sans', sans-serif;
                        color: #555;
                        line-height: 1.7;
                        font-size: 13px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .we-are {
        padding: 40px 0;
        background: url('../../image/home_aboutus_bg.png') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .section-title,
        .section-disc {
            color: #ffffff;
        }
    }
    .project {
        padding: 40px 0;
        .btn-view-all {
            display: block;
            width: 200px;
            height: 43px;
            text-align: center;
            line-height: 42px;
            text-transform: uppercase;
            border: 1px solid #eee;
            border-radius: 30px;
            text-decoration: none;
            color: #e25440;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            transition: .3s all ease;
            -webkit-transition: .3s all ease;
            -moz-transition: .3s all ease;
            -ms-transition: .3s all ease;
            -o-transition: .3s all ease;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            margin: 10px auto 40px;
            &:hover {
                background-color: #e25440;
                color: #ffffff;
            }
        }
        .item {
            text-align: center;
            margin-bottom: 50px;
            &:hover {
                img {
                    opacity: 0.7;
                }
            }
            img {
                border: 1px solid #ddd;
            }
            .name {
                display: block;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                margin: 5px 0;
                color: #383a47;
                &:hover {
                    color: #e25440;
                }
            }
            .price {
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                color: #e25440;
                margin: 0 0 10px;
                &.italic {
                    font-size: 15px;
                    font-style: italic;
                }
            }
            .wrapper-btn {
                a {
                    display: inline-block;
                    height: 35px;
                    line-height: 35px;
                    border-radius: 3px;
                    font-size: 14px;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.07);
                    color: #ffffff;
                    background-color: #69697a;
                    padding: 0px 20px;
                    margin-left: 5px;
                    text-decoration: none;
                    transition: all 0.3s;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    &:hover {
                        box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
                        color: #ffffff;
                        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25));
                    }
                }
            }
        }
    }
    .comment-news {
        padding: 30px 0;
        .title {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 20px;
            padding: 0 0px 10px;
            border-bottom: 1px solid #e25440;
        }
        .comment {
            margin-bottom: 30px;
            .item {
                display: flex;
                &:not(:last-child) {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px dashed #ddd;
                }
                .image {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    img {
                        width: 100%;
                    }
                }
                .content {
                    width: calc(100% - 60px);
                    padding-left: 5%;
                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 13px;
                        color: #777;
                        text-align: justify;
                        margin: 0;
                        .red {
                            color: #e25440;
                        }
                    }
                }
            }
            .slick-prev {
                height: 26px;
                width: 26px;
                background: url('../../image/arrow-left-red.jpg') center no-repeat;
                background-size: 26px;
                left: auto;
                right: 30px;
                transform: none;
                top: -55px;
                border-radius: 3px;
                z-index: 1;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                &::before {
                    content: none;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
            .slick-next {
                height: 26px;
                width: 26px;
                background: url('../../image/arrow-right-red.jpg') center no-repeat;
                background-size: 26px;
                left: auto;
                right: 0;
                transform: none;
                top: -55px;
                border-radius: 3px;
                z-index: 1;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                &::before {
                    content: none;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .news {
            >a {
                display: block;
                font-family: 'Open Sans', sans-serif;
                color: #383A47;
                font-size: 14px;
                margin: 0 0 5px;
                font-weight: 400;
                text-align: justify;
            }
            .excerpt {
                font-size: 12px;
                color: #999;
                text-align: justify;
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 1px solid #e5e5e5;
                img {
                    width: 20%;
                    margin-right: 10px;
                    float: left;
                }
            }
            li a {
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                margin: 0 0 5px;
                font-weight: 400;
                text-align: justify;
                color: #383A47;
                i {
                    color: #e25440;
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
}

// Responsive
@media (min-width: 640px) {
    #index {
        .service {
            .wrapper-item {
                .item {
                    display: flex;
                    padding: 30px 10px 10px;
                    margin-bottom: 0;
                    .image {
                        width: 50%;
                        padding: 0 2.5%;
                    }
                    .content {
                        width: 50%;
                        text-align: left;
                    }
                    &:nth-child(2) {
                        flex-direction: row-reverse;
                        .content {
                            text-align: right;
                        }
                    }
                }
            }
        }
        .project {
            .wrapper-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .item {
                    width: 47%;
                }
            }
        }
    }
}

@media (min-width: 960px) {
    #index {
        .banner {
            margin-top: -90px;
        }
        .service {
            .wrapper-item {
                display: flex;
                justify-content: space-between;
                .item {
                    width: 320px;
                    flex-direction: column;
                    padding: 1%;
                    .image {
                        width: 100%;
                        padding: 8% 12%;
                    }
                    .content {
                        width: 100%;
                        text-align: center;
                    }
                    &:nth-child(2) {
                        flex-direction: column;
                        .content {
                            text-align: center;
                        }
                    }
                }
            }
        }
        .project {
            .wrapper-item {
                .item {
                    width: 22%;
                    .wrapper-btn {
                        flex-wrap: wrap;
                        .addToCart {
                            margin-bottom: 5px;
                        }
                        a {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        .comment-news {
            .uk-container {
                display: flex;
                .comment {
                    width: 60%;
                    .item {
                        .image {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .news {
                    width: 35%;
                    margin-left: 5%;
                    background: #f9f9f9;
                    border-radius: 3px;
                    padding: .5% 1.5%;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1600px) {}