#products {
    padding-top: 30px;
    .breadcrumb {
        padding: 3px 10px;
        background: #f5f5f5;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border: 1px solid #eee;
        margin-bottom: 10px;
        li {
            font-family: 'Open Sans', sans-serif;
            display: inline;
            font-size: 13px;
            font-weight: bold;
            &+li:before {
                padding: 3px;
                content: ">";
            }
            a {
                color: #555;
                text-decoration: none;
                font-weight: normal;
            }
        }
    }
    .line-1 {
        margin-bottom: 10px;
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            margin: 0;
            color: #333333;
            display: inline-block;
            padding: 5px 10px;
            border-bottom: 3px solid #e25440;
        }
        .wrapper-btn {
            button {
                width: 32px;
                height: 32px;
                line-height: 30px;
                text-align: center;
                background: #f5f5f5;
                border: 1px solid #ddd;
                display: inline-block;
                cursor: pointer;
                font-size: 14px;
                color: #555555;
                &.active {
                    color: #e25440;
                }
            }
        }
    }
    .wrapper-item {
        .item {
            text-align: center;
            margin-bottom: 20px;
            &:hover {
                img {
                    opacity: 0.7;
                }
            }
            img {
                border: 1px solid #ddd;
            }
            .name {
                display: block;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                margin: 5px 0;
                color: #383a47;
                &:hover {
                    color: #e25440;
                }
            }
            .price {
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                color: #e25440;
                margin: 0 0 10px;
                &.italic {
                    font-size: 15px;
                    font-style: italic;
                }
            }
            .wrapper-btn {
                button {
                    width: 120px;
                    height: 35px;
                    border-radius: 3px;
                    font-size: 14px;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.07);
                    color: #ffffff;
                    background-color: #69697a;
                    border: none;
                    text-align: left;
                    cursor: pointer;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    i {
                        line-height: 35px;
                        border-right: 1px solid rgba(255, 255, 255, 0.3);
                        padding: 0 10px;
                        margin-right: 5px;
                    }
                    &:hover {
                        box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
                        color: #ffffff;
                        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25));
                    }
                }
                a {
                    display: inline-block;
                    height: 35px;
                    line-height: 35px;
                    border-radius: 3px;
                    font-size: 14px;
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.07);
                    color: #ffffff;
                    background-color: #69697a;
                    padding: 0px 20px;
                    margin-left: 5px;
                    text-decoration: none;
                    transition: all 0.3s;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    &:hover {
                        box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
                        color: #ffffff;
                        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25));
                    }
                }
            }
        }
        &.list {
            .item {
                width: 100%;
                display: flex;
                border-bottom: 1px solid #ddd;
                padding: 10px;
                >a {
                    width: 30%;
                }
                .wrapper {
                    width: 70%;
                    text-align: left;
                    padding-left: 10px;
                    .name {
                        text-align: left;
                    }
                    .wrapper-btn {
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        button,
                        a {
                            margin: 2.5px;
                        }
                    }
                }
            }
        }
    }
    .menu {
        .tab {
            h1 {
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                height: 46px;
                line-height: 46px;
                background: #e25440;
                color: #ffffff;
                padding: 0 10px;
                margin: 0;
            }
            ul li {
                a {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    padding: 10px 10px;
                    display: block;
                    position: relative;
                    color: #333;
                    text-transform: uppercase;
                    color: #333;
                    background: #eee;
                    text-decoration: none;
                    border-bottom: 1px solid #e5e5e5;
                    border-top: 1px solid #f5f5f5;
                    i {
                        font-size: 8px;
                    }
                    &:hover {
                        background-color: #f9f9f9;
                        color: #333;
                    }
                }
            }
            .title {
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                color: #555555;
                line-height: 35px;
                border-bottom: 1px solid #eee;
            }
            .staff {
                border-bottom: 1px solid #eee;
                .red {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #d90000;
                    font-weight: 600;
                    margin: 0;
                }
                >a {
                    display: inline-block;
                    margin-right: 20px;
                }
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #555555;
                    a {
                        font-size: 16px;
                        color: #d90000;
                    }
                }
            }
            .work-time {
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #555555;
                    margin: 0;
                }
            }
            .item {
                padding: 10px 0;
                &:not(:last-child) {
                    border-bottom: 1px dashed #ddd;
                }
                .img {
                    width: 25%;
                }
                .content {
                    width: 75%;
                    padding-left: 4%;
                }
                .p1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    color: #383a47;
                    margin: 0;
                    &:hover {
                        color: #e25440;
                    }
                }
                .p2 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    color: #e25440;
                    margin: 0;
                }
                .p3 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 13px;
                    font-weight: bold;
                    font-style: italic;
                    color: #e25440;
                    margin: 0;
                }
            }
        }
    }
}

.products-detail {
    .heading {
        margin: 20px 0 10px;
        font-size: 16px;
        color: #333333;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
        span {
            display: inline-block;
            padding: 0 10px 5px;
            position: relative;
            &:after {
                position: absolute;
                bottom: -2px;
                height: 3px;
                background: #e25440;
                left: 0;
                right: 0;
                width: 100%;
                content: '';
                display: inline-block;
            }
        }
    }
    .line-2 {
        .images {
            border: 1px solid #ddd;
            padding: 0.5%;
            .main-image {
                margin-bottom: 10px;
                img {
                    width: 100%;
                }
            }
            .sub-images {
                img {
                    display: inline-block;
                    width: 18%;
                    margin: 1%;
                    border: 1px solid #ddd;
                    cursor: pointer;
                }
            }
        }
        .content {
            font-family: 'Open Sans', sans-serif;
            h3 {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: #383a47;
                margin: 10px 0;
                padding: 0 0 5px;
                border-bottom: 1px solid #ddd;
            }
            .red {
                font-size: 20px;
                color: #e25440;
                font-weight: bold;
                margin: 15px 0;
            }
            .black {
                font-size: 14px;
                color: #555555;
                margin: 0 0 20px;
            }
            button {
                width: 120px;
                height: 35px;
                border-radius: 3px;
                font-size: 14px;
                box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.07);
                color: #ffffff;
                background-color: #69697a;
                border: none;
                text-align: left;
                cursor: pointer;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                margin-bottom: 30px;
                &:hover {
                    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
                    color: #ffffff;
                    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25));
                }
                i {
                    line-height: 35px;
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                    padding: 0 10px;
                    margin-right: 5px;
                }
            }
        }
    }
    .wrapper-social {
        background: #f5f5f5;
        padding: 5px 10px;
        .item {
            width: 95px;
            height: 22px;
            color: #fff;
            border-radius: 2px;
            margin: 5px 10px 5px 0;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            background-color: #3b5998;
            font-size: 12px;
            font-weight: bold;
            line-height: 22px;
            text-decoration: none;
            i,
            span {
                display: inline-block;
                width: 22px;
                height: 22px;
                text-align: center;
            }
            &:nth-child(2) {
                background-color: #00aced;
            }
            &:nth-child(3) {
                background-color: #cb2027;
            }
            &:nth-child(4) {
                width: 75px;
                background-color: #4999dc;
            }
            &:nth-child(5) {
                width: 55px;
                background-color: #ffffff;
                border: 1px solid #ececec;
                color: #333333;
                span {
                    height: 20px;
                    color: #ffffff;
                    background-color: #dd4b39;
                    border-radius: 2px 0 0 2px;
                    -webkit-border-radius: 2px 0 0 2px;
                    -moz-border-radius: 2px 0 0 2px;
                    -ms-border-radius: 2px 0 0 2px;
                    -o-border-radius: 2px 0 0 2px;
                    margin-right: 5px;
                    position: relative;
                    &::before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 5px solid transparent;
                        border-right: 5px solid #fff;
                        border-bottom: 5px solid transparent;
                        position: absolute;
                        top: 5px;
                        right: 0;
                    }
                }
            }
        }
    }
    .fb-comments {
        iframe {
            width: 100%;
        }
    }
}

// Responsive
@media (min-width: 640px) {
    #products {
        .wrapper-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                width: 47%;
            }
        }
    }
    .products-detail {
        .line-2 {
            display: flex;
            margin-bottom: 20px;
            .images {
                width: 50%;
            }
            .content {
                width: 50%;
                padding-left: 15px;
                h3 {
                    font-size: 18px;
                }
                .red {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 960px) {
    #products {
        .wrapper-item {
            justify-content: flex-start;
            .item {
                width: 30%;
                margin-right: 5%;
                &:nth-child(3n) {
                    margin-right: 0;
                }
                .wrapper-btn {
                    flex-wrap: wrap;
                    button {
                        margin-bottom: 5px;
                    }
                    a {
                        margin-bottom: 5px;
                    }
                }
            }
            &.list {
                .item {
                    margin-right: 0;
                    .wrapper {
                        padding-left: 20px;
                    }
                }
            }
        }
        .uk-container {
            display: flex;
            flex-direction: row-reverse;
        }
        .content {
            width: 70%;
        }
        .menu {
            width: 25%;
            margin-right: 5%;
        }
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1600px) {}