#services-detail {
    .left {
        margin-bottom: 40px;
        .name {
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            line-height: 34px;
            margin: 0 0;
            color: #e25440;
            border-bottom: 1px solid #ddd;
        }
        .time {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            line-height: 30px;
            color: #666;
            margin: 0;
            border-bottom: 1px solid #f5f5f5;
        }
        .bold {
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #555555;
            text-align: justify;
            margin: 15px 0;
        }
        .light {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #555555;
            text-align: justify;
            margin: 0 0 45px;
        }
        .wrapper-social {
            .item {
                width: 95px;
                height: 22px;
                color: #fff;
                border-radius: 2px;
                margin: 5px 10px 5px 0;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                background-color: #3b5998;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                text-decoration: none;
                i,
                span {
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                }
                &:nth-child(2) {
                    background-color: #00aced;
                }
                &:nth-child(3) {
                    background-color: #cb2027;
                }
                &:nth-child(4) {
                    width: 75px;
                    background-color: #4999dc;
                }
                &:nth-child(5) {
                    width: 55px;
                    background-color: #ffffff;
                    border: 1px solid #ececec;
                    color: #333333;
                    span {
                        height: 20px;
                        color: #ffffff;
                        background-color: #dd4b39;
                        border-radius: 2px 0 0 2px;
                        -webkit-border-radius: 2px 0 0 2px;
                        -moz-border-radius: 2px 0 0 2px;
                        -ms-border-radius: 2px 0 0 2px;
                        -o-border-radius: 2px 0 0 2px;
                        margin-right: 5px;
                        position: relative;
                        &::before {
                            content: '';
                            width: 0;
                            height: 0;
                            border-top: 5px solid transparent;
                            border-right: 5px solid #fff;
                            border-bottom: 5px solid transparent;
                            position: absolute;
                            top: 5px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .right {
        .title {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            color: #555555;
            line-height: 35px;
            border-bottom: 1px solid #eee;
        }
        .item {
            padding: 10px 0;
            &:first-of-type {
                border-bottom: 1px dashed #eee;
            }
            .img {
                width: 50%;
                margin-right: 5%;
            }
            .content {
                width: 45%;
                .name {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #f45b4f;
                    text-decoration: none;
                    display: block;
                    line-height: 27px;
                    border-bottom: 1px solid #f1f1f1;
                    margin-bottom: 5px;
                }
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #aeaeae;
                    margin: 0;
                }
            }
        }
        .staff {
            border-bottom: 1px solid #eee;
            .red {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #d90000;
                font-weight: 600;
                margin: 0;
            }
            >a {
                display: inline-block;
                margin-right: 20px;
            }
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #555555;
                a {
                    font-size: 16px;
                    color: #d90000;
                }
            }
        }
        .work-time {
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #555555;
                margin: 0;
            }
        }
    }
}

// Responsive
@media (min-width: 640px) {}

@media (min-width: 960px) {
    #services-detail {
        .uk-container {
            display: flex;
            .left {
                width: 67%;
                margin-right: 3%;
                >img {
                    width: 100%;
                }
            }
            .right {
                width: 30%;
                padding-left: 3%;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 535px;
                    top: 35px;
                    left: 0;
                    background: #eee;
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1600px) {}