@import '../helpers/font';
@import '../helpers/reset';
@import '../helpers/variable';
@import '../helpers/mixin';
@import '../helpers/common';
@import '../pages/layout/header';
@import '../pages/layout/footer';
html,
body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: auto;
}

// Responsive
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

// sass --watch scss/pages/index.scss:css/index.css