// Start: Animation Scroll Down
.visible-bottom-to-top,
.visible-top-to-bottom,
.visible-left-to-right,
.visible-right-to-left {
    visibility: hidden;
}

.slide-bottom-to-top {
    animation-name: slideBottomToTop;
    -webkit-animation-name: slideBottomToTop;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.slide-top-to-bottom {
    animation-name: slideTopToBottom;
    -webkit-animation-name: slideTopToBottom;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.slide-left-to-right {
    animation-name: slideLeftToRight;
    -webkit-animation-name: slideLeftToRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.slide-right-to-left {
    animation-name: slideRightToLeft;
    -webkit-animation-name: slideRightToLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slideBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(70%);
        -webkit-transform: translateY(70%);
        -moz-transform: translateY(70%);
        -ms-transform: translateY(70%);
        -o-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

@keyframes slideTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-70%);
        -webkit-transform: translateY(-70%);
        -moz-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        -o-transform: translateY(-70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

@keyframes slideLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-70%);
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes slideRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(70%);
        -webkit-transform: translateX(70%);
        -moz-transform: translateX(70%);
        -ms-transform: translateX(70%);
        -o-transform: translateX(70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

// End: Animation Scroll Down
// Start: Gallary Slideshow
.gallery {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main-image {
        width: 100%;
        #featured {
            width: 100%;
            max-height: 600px;
            object-fit: cover;
        }
    }
    #slide-wrapper {
        max-width: 100%;
        display: flex;
        min-height: 100px;
        align-items: center;
        #slider {
            width: 700px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: hidden;
            .thumbnail {
                max-width: 180px;
                max-height: 100px;
                object-fit: cover;
                cursor: pointer;
                opacity: 0.5;
                margin: 5px;
                &.active {
                    opacity: 1;
                    box-shadow: 0px 0px 5px 0px #007cba;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        .arrow {
            width: 30px;
            height: 30px;
            opacity: 0.5;
            cursor: pointer;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

// More
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    &:after {
        content: '';
        height: 3px;
        width: 80px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        background-color: #e25440;
        transform: translateX(-50%);
    }
}

.section-disc {
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0;
    max-width: 600px;
    text-align: center;
    font-size: 13px;
    color: #888;
    line-height: 2;
    margin: 0 auto;
}

.banner-img {
    margin-top: -90px;
    margin-bottom: 30px;
}

.navigation {
    margin: 10px 0 30px;
    text-align: center;
    span {
        &.pages {
            line-height: 25px;
        }
        &.current {
            width: 25px;
            background: #e25440;
            color: #ffffff;
        }
    }
    a,
    .current {
        text-align: center;
        text-decoration: none;
        font-size: 15.4px;
        height: 25px;
        line-height: 25px;
        margin-left: 8px;
        display: inline-block;
        background: #ddd;
        color: #333;
        border-radius: 2px;
        padding: 0 5px;
        transition: .3s all ease;
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        -ms-transition: .3s all ease;
        -o-transition: .3s all ease;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .page-number {
        width: 25px;
        padding: 0;
    }
    a:hover {
        background: #e25440;
        color: #ffffff;
    }
}

.addToCart {
    width: 120px;
    height: 35px;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.07);
    color: #ffffff;
    background-color: #69697a;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    i {
        line-height: 35px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0 10px;
        margin-right: 5px;
    }
    &:hover {
        box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
        color: #ffffff;
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25));
    }
    &::before {
        content: '+1';
        display: block;
        width: 35px;
        height: 35px;
        background-color: #e25440;
        color: #ffffff;
        text-align: center;
        opacity: 0;
        line-height: 35px;
        position: absolute;
        top: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }
    &.add::before {
        top: -150px;
        animation: addToCart 1s ease-in-out forwards;
        -webkit-animation: addToCart 1s ease-in-out forwards;
    }
}

@keyframes addToCart {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes addToCart {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes addToCart {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes addToCart {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes addToCart {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.js-image-zoom__zoomed-image {
    z-index: 1;
}